<!DOCTYPE html>
<html>
<head>
    <title>Crear Empleado</title>
</head>
<body>
    <h1>Crear Empleado</h1>
    <form action="/empleado/crear" method="post">
            <label for="id">id:</label>
            <input type="text" name="id" id="id" /><br />
            <label for="nombre">nombre:</label>
            <input type="text" name="nombre" id="nombre" /><br />
            <label for="departamento">departamento:</label>
            <input type="text" name="departamento" id="departamento" /><br />
            <label for="salario">salario:</label>
            <input type="text" name="salario" id="salario" /><br />
        <input type="submit" value="Crear" />
    </form>
    <a href="/empleado">Volver a la lista</a>
</body>
</html>