<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de <th:block th:text="Empleado + 's'"></th:block></title>
</head>
<body>
    <h1>Lista de <th:block th:text="Empleado + 's'"></th:block></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                    <th><th:block th:text="id"></th:block></th>
                    <th><th:block th:text="nombre"></th:block></th>
                    <th><th:block th:text="departamento"></th:block></th>
                    <th><th:block th:text="salario"></th:block></th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : empleados">
                <td><th:block th:text="empleado.id"></th:block></td>
                    <td><th:block th:text="empleado[atributo.nombre]"></th:block></td>
                    <td><th:block th:text="empleado[atributo.nombre]"></th:block></td>
                    <td><th:block th:text="empleado[atributo.nombre]"></th:block></td>
                    <td><th:block th:text="empleado[atributo.nombre]"></th:block></td>
                <td>
                    <a th:href="@{/empleado/{id}(id=empleado.id)}">Ver</a>
                    <a th:href="@{/empleado/editar/{id}(id=empleado.id)}">Editar</a>
                    <a th:href="@{/empleado/eliminar/{id}(id=empleado.id)}">Eliminar</a>
                </td>
            </tr>
        </tbody >
    </table>
    <a th:href="@{/empleado/crear}">Crear nuevo <th:block th:text="Empleado"></th:block></a>
</body>
</html>