<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><th:text="Empleado"></title>
</head>
<body>
    <h1><th:text="Empleado"></h1>
            <label for="id">id:</label>
            <input type="text" name="id" id="id" /><br />
            <label for="nombre">nombre:</label>
            <input type="text" name="nombre" id="nombre" /><br />
            <label for="departamento">departamento:</label>
            <input type="text" name="departamento" id="departamento" /><br />
            <label for="salario">salario:</label>
            <input type="text" name="salario" id="salario" /><br />
    <a th:href="empleado/lista">Volver a la lista</a>
</body>
</html>