<!DOCTYPE html>
<html>
<head>
    <title>Crear Usuario</title>
</head>
<body>
    <h1>Crear Usuario</h1>
    <form action="/usuario/crear" method="post">
            <label for="id">id:</label>
            <input type="text" name="id" id="id" /><br />
            <label for="nombre">nombre:</label>
            <input type="text" name="nombre" id="nombre" /><br />
            <label for="correo">correo:</label>
            <input type="text" name="correo" id="correo" /><br />
            <label for="contrasena">contrasena:</label>
            <input type="text" name="contrasena" id="contrasena" /><br />
        <input type="submit" value="Crear" />
    </form>
    <a href="/usuario">Volver a la lista</a>
</body>
</html>