<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><th:text="Objecion"></title>
</head>
<body>
    <h1><th:text="Objecion"></h1>
            <label for="id">id:</label>
            <input type="text" name="id" id="id" /><br />
            <label for="fechaCreacion">fechaCreacion:</label>
            <input type="text" name="fechaCreacion" id="fechaCreacion" /><br />
            <label for="periodoConstitucional">periodoConstitucional:</label>
            <input type="text" name="periodoConstitucional" id="periodoConstitucional" /><br />
            <label for="periodoLegislativo">periodoLegislativo:</label>
            <input type="text" name="periodoLegislativo" id="periodoLegislativo" /><br />
            <label for="numeroProyecto">numeroProyecto:</label>
            <input type="text" name="numeroProyecto" id="numeroProyecto" /><br />
            <label for="titulo">titulo:</label>
            <input type="text" name="titulo" id="titulo" /><br />
            <label for="prohija">prohija:</label>
            <input type="text" name="prohija" id="prohija" /><br />
            <label for="fechaDeLaNota">fechaDeLaNota:</label>
            <input type="text" name="fechaDeLaNota" id="fechaDeLaNota" /><br />
            <label for="alcance">alcance:</label>
            <input type="text" name="alcance" id="alcance" /><br />
            <label for="motivo">motivo:</label>
            <input type="text" name="motivo" id="motivo" /><br />
            <label for="informeDeGobierno">informeDeGobierno:</label>
            <input type="text" name="informeDeGobierno" id="informeDeGobierno" /><br />
            <label for="informeDeTrabajo">informeDeTrabajo:</label>
            <input type="text" name="informeDeTrabajo" id="informeDeTrabajo" /><br />
            <label for="segundoDebate">segundoDebate:</label>
            <input type="text" name="segundoDebate" id="segundoDebate" /><br />
            <label for="tercerDebate">tercerDebate:</label>
            <input type="text" name="tercerDebate" id="tercerDebate" /><br />
            <label for="insistencia">insistencia:</label>
            <input type="text" name="insistencia" id="insistencia" /><br />
            <label for="pdfNroLey">pdfNroLey:</label>
            <input type="text" name="pdfNroLey" id="pdfNroLey" /><br />
            <label for="publicado">publicado:</label>
            <input type="text" name="publicado" id="publicado" /><br />
            <label for="gaceta">gaceta:</label>
            <input type="text" name="gaceta" id="gaceta" /><br />
            <label for="comentario">comentario:</label>
            <input type="text" name="comentario" id="comentario" /><br />
    <a th:href="objecion/lista">Volver a la lista</a>
</body>
</html>